# Copyright (c) 2026, MarsDoge. All rights reserved.<BR>
# Author: MarsDoge (Dongyan Qian)
# Open source: https://github.com/MarsDoge/ModernSetupPkg
#
# SPDX-License-Identifier: BSD-2-Clause-Patent
#
Build/
Conf/
*.fd
*.log
__pycache__/
*.pyc
.DS_Store

# Cloudflare Wrangler local state (R2 simulator, etc.)
.wrangler/
